.form_container{
    width: 100%;
    height: 80vh;
    background: #fce3fe;
   
  
}
.loginSignUp_container{
    width: 580px;
    height: 400px;
    background: white;
    padding: 40px 60px;
    margin: auto ;
    margin-bottom: 100px;
    margin-top: 50px;

}
.loginSignUp_input{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
    margin-bottom: 50px;
}
 input{
   
    padding-left: 20px;
    border: 1px solid white;
    color: #5c5c5c ;
    margin-top: 20px;
}